.profile {
  width: 100%;
  display: grid;
  grid-template-columns: 120px 2fr 1fr;
  grid-template-rows: 125px;
  column-gap: 30px;
  justify-content: flex-start;
  position: relative;
}

@media (max-width: 767px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(116px, max-content) 50px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
