.popup_opened {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s, opacity 0.5s;
  -webkit-transition: visibility 0s, opacity 0.5s;
  -moz-transition: visibility 0s, opacity 0.5s;
  -ms-transition: visibility 0s, opacity 0.5s;
  -o-transition: visibility 0s, opacity 0.5s;
}
