.element__card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 25px 20px 26px 21px;
  max-height: 79px;
}
