.popup__container {
  display: flex;
  position: relative;
  margin: auto;
  max-width: 430px;
  width: 100%;
}

@media (max-width: 767px) {
  .popup__container {
    min-width: 282px;
    width: 88%;
  }
}
