.element__like {
  background: transparent url('../../../images/like-button.svg') no-repeat center/cover;
  width: 22px;
  height: 19px;
  opacity: 1;
  transition: opacity 0.15s linear;
  border: none;
}

.element__like:hover {
  opacity: 0.5;
  cursor: pointer;
}


